* {
  padding: 0;
  margin: 0;
}

.landing-img-wrapper {
  width: 100%;
  height: 35dvh;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
  position: relative;
}

.landing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.09) translateY(-4%);
  transition: transform 0.3s ease;
}

.landing-card .card-wrapper {
  border-radius: 20px;
  padding: 16px 16px 28px 16px;
  border: 3px solid #efefef;
  box-shadow: none;
  cursor: pointer;
}

.landing-card .card-wrapper .card-content {
  padding: 0px;
}

.landing-card .icon-bg-area {
  padding: 18px;
  background-color: #efefef;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 26px;
}

.landing-card .active {
  border: 3px solid #2b70fe !important;
}

.landing-card .active .icon-bg-area {
  background-color: #eff4ff;
}
.landing-card .active .icon-bg-area svg {
  fill: #2b70fe;
}

.set-chainage-img-wrapper {
  width: 278px;
  height: 278px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.chainage-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.09) translateY(-4%);
  transition: transform 0.3s ease;
}

.add-new-sight {
  padding: 13px;
  background-color: #EFF4FF;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: 26px;
  cursor: pointer;
}

.remove-new-sight {
  padding: 13px;
  background-color: #ffefef;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: 26px;
  cursor: pointer;
}

@media (width > 480px) {
  .input-wrapper {
    width: 440px !important;
  }
}
@media (width > 992px) {
  .landing-btn {
    display: flex;
    justify-content: center;
  }

  .landing-btn button {
    width: 440px;
  }
}
